

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form [formGroup]="userform" (submit)="userSubmit(userform.value)">
                <mat-card class="mt-5">
                    <mat-card-header>
                        <p class="h4">Register Panel</p>
                    </mat-card-header>
                    <hr>
                    <mat-card-content>
                        <mat-form-field appearance="outline" class="col-md">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Mr. Anderson" formControlName="name">
                            <mat-error *ngIf="getControl().name.errors">Name required</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-md">
                            <mat-label>Username</mat-label>
                            <input matInput placeholder="Mr. Anderson" formControlName="username">
                            <mat-error *ngIf="getControl().username.errors">Username required</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-md">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Mr. Anderson" formControlName="email">
                            <mat-error *ngIf="getControl().email.errors">Email required</mat-error>
                        </mat-form-field>
    
                        <mat-form-field appearance="outline" class="col-md">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Mr. Anderson" type="password" formControlName="password">
                            <mat-error *ngIf="getControl().password.errors">Password required</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-md">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput placeholder="Mr. Anderson" type="password" formControlName="confirm">
                            <mat-error *ngIf="getControl().confirm.errors">Password not matched</mat-error>
                        </mat-form-field>
    
                        <button mat-raised-button class="btn-block mt-5" color="primary">Register</button>
    
                    </mat-card-content>
                </mat-card>
            </form>
        </div>
    </div>
</div>